@import url("font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.home-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 24, 254, 0.4) -32.29%,
    rgba(0, 0, 0, 0.4) 44.44%,
    rgba(255, 0, 0, 0.356) 113.73%
  );
}

.bg2 {
  background: linear-gradient(
    85.91deg,
    rgba(0, 24, 254, 0.4) -19%,
    rgba(0, 0, 0, 0.4) 53.51%,
    rgba(255, 0, 0, 0.356) 118.99%
  );
}

.bg-strip {
  background: linear-gradient(
    85.91deg,
    rgba(0, 24, 254, 1) -19%,
    rgba(0, 0, 0, 1) 53.51%,
    rgba(255, 0, 0, 1) 118.99%
  );
}

.text-overlay {
  background: linear-gradient(
    85.91deg,
    rgba(0, 24, 254, 1) -19%,
    rgba(0, 0, 0, 1) 53.51%,
    rgba(255, 0, 0, 1) 118.99%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
